.adminBar {
  z-index: 10;
  width: 100%;
  padding: 10px 0;
  font-size: 16px !important;
  display: block;
  visibility: hidden;
  opacity: 0;
  background-color: var(--theme-elevation-100);
  transition: opacity 150ms linear;
}

:global([data-theme="dark"]) {
  .adminBar {
    background-color: var(--theme-elevation-0);
  }
}

.payloadAdminBar {
  color: var(--theme-text) !important;
}

.show {
  visibility: visible;
  opacity: 1;
}

.controls {
  & > *:not(:last-child) {
    margin-right: 10px !important;
  }
  font-size: 16px !important;
}

.user {
  margin-right: 10px !important;
  font-size: 16px;
  visibility: hidden;
}

.logo {
  margin-right: 10px !important;
  font-size: 16px !important;
  font-weight: 900;
}

.blockContainer {
  position: relative;
  font-size: 16px !important;
}


